*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
	--top-height: 330px;
}
body{
	color: var(--text-color);
}

/*Top Section*/
/*.top_images{
		
}*/
.top{
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 12rem;
	margin-right: 0rem;
	transition: ease .40s;
}
.sticky .top{
	margin-top: 5rem;
}
/*scroll effect*/
.top_slider{
	width: 100vw;
	overflow: hidden;
}
.top_slides{
	width: 1000%;
	display: flex;
}
.top_slider .top_radio{
	display: none;
}

#top_radio1:checked ~ .top_slides{
	margin-left: 0;
}

#top_radio2:checked ~ .top_slides{
	margin-left: -100%;
}

#top_radio3:checked ~ .top_slides{
	margin-left: -200%;
}

#top_radio4:checked ~ .top_slides{
	margin-left: -300%;
}

/*Manual Navigation*/

/*.navigate_manual{
	position: absolute;
	width: 90vw;
	height: 5px;
	top: -30px;
	margin-top: calc(var(--top-height));
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid #fffd96;
	padding: 5px;	
	height: 5px;
	width: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background: #fffd96;
}*/

/*scroll effect end*/

.top_content{
	margin-left: 1rem;
	position: relative;
	width: calc(100vw - 3rem);
}
.top_images img{
	border-radius: 10px;
	width: 100%;
	height: var(--top-height);
	object-fit: cover;
}
.top_images_effect{
	background: radial-gradient(#00000050 60%,#00000090 90%,#000000d0 100%);
	border-radius: 10px;
	width: 100%;
	height: var(--top-height);
	object-fit: cover;
	position: absolute;
	top: 0;
} 
.top_details{
	position: absolute;
	text-align: center;
	vertical-align: bottom;
	top: 100px;
	width: 100%;
}
.top_details h3{
	color: #fff;
	font-size: 2.5rem;
	text-shadow: 0px 0px 10px #000, 0px 0px 15px #000;
}
.top_details h4{
	margin-top: 10px;
	color: #fff;
	font-size: 1.5rem;
	text-shadow: 0px 0px 10px #000, 0px 0px 15px #000;
}
/*Deals Section*/
.deals{	
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;	
}
.deal_section{
	display: grid;	
	grid-template-columns: repeat(2,1fr);
	grid-gap: 1rem;
	align-items: center;
	margin-top: 1rem;
}
.deal_container{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
	width: 100%;
}
.deal_container img{
	border-radius: 10px;
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: left;
}
.deal_container h4{
	position: absolute;
	text-align: right;
	font-size: 1.2rem;
	color: #fff;
	top: 1rem;
	right: 1rem;
	text-shadow: #221314 3px 3px 10px; 
}
.deal_container h5{
	position: absolute;
	text-align: left;
	font-size: 1.2rem;
	color: #fff;
	top: 1rem;
	left: 1rem;
	text-shadow: #221314 3px 3px 10px; 
}
.shape1{
	border-radius: 10px 10px 0 0;
	height: 3.2rem;
  	width: 100%;
  	background-color: #00000095;
	position: absolute;
	top: 0;
	left: 0;
}
.shape2{	
	height: 15%;
  	width: 45%;
	border-radius: 10px 10px 0 0;
	position: absolute;
	top: 0;
	left: 0;	 
	background:	linear-gradient(120deg,#ff0000ff 00%, #ff0000df 25%,
								#ff0000bf 50%, #ff000000 80%);
}
/*Hotel/Locations Section*/
.hotel{	
	margin-top: 1rem;
	margin-left: 1.5vw;
	margin-right: 1.5vw;	
}
.hotel_section{	
	position: relative;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1vw;
	align-items: center;
	margin-top: 1rem;
}
.hotel_container{	
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	padding-right: 0;
	cursor: pointer;
	width: 100%;
}
.hotel_container img{
	border-radius: 10px;
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: left;
}
.hotel_container h4{
	position: absolute;
	text-align: right;
	font-size: 1.2rem;
	color: #fff;
	top: 1rem;
	right: 1rem;
	text-shadow: #000000 2px 2px 4px,#000000 0px 0px 2px; 
}
.hotel_container h5{
	position: absolute;
	text-align: left;
	font-size: 1.2rem;
	color: #fff;
	top: 1rem;
	left: 1rem;
	text-shadow: #221314 3px 3px 10px; 
}
/*Review Section - with Navigation*/
.review{	
	position: relative;	
	padding: 0;
	height: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;	
}
.slider{
	height: 175px;
	width: 90vw;
	border-radius: 10px;
	overflow: hidden;	
}
.slides{
	width: 1000%;
	height: 125px;
	display: flex;
}
.slide{
	width: 10%;
	height: 125px;
	transition: 2s;
}
.slide review_content{	
	height: 175px;
	width: 90vw;
	margin-left: 2vw;
	margin-right: 2vw;
}
.slider .radio{
	display: none;
}

#radio1:checked ~ .slides{
	margin-left: 0;
}

#radio2:checked ~ .slides{
	margin-left: -100%;
}

#radio3:checked ~ .slides{
	margin-left: -200%;
}

#radio4:checked ~ .slides{
	margin-left: -300%;
}

#radio5:checked ~ .slides{
	margin-left: -400%;
}

#radio6:checked ~ .slides{
	margin-left: -500%;
}

#radio7:checked ~ .slides{
	margin-left: -600%;
}

#radio8:checked ~ .slides{
	margin-left: -700%;
}

#radio9:checked ~ .slides{
	margin-left: -800%;
}

#radio10:checked ~ .slides{
	margin-left: -900%;
}


/*@media sizes*/


@media (max-width: 900px){
	.hotel_section{
		grid-template-columns: repeat(2,1fr);
	}
	.deal_section{	
		grid-template-columns: repeat(1,1fr);
	}
}